<p id="notice"><%= notice %></p>

<p>
  <strong>Mso tech:</strong>
  <%= @technician.mso_tech_id %>
</p>

<p>
  <strong>Last background check:</strong>
  <%= @technician.last_background_check %>
</p>

<p>
  <strong>Gchat:</strong>
  <%= @technician.gchat_id %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @technician.is_active %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @technician.home_phone %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @technician.cell_phone %>
</p>

<p>
  <strong>Last drug test:</strong>
  <%= @technician.last_drug_test %>
</p>

<p>
  <strong>Internal tech:</strong>
  <%= @technician.internal_tech_id %>
</p>

<p>
  <strong>Company info:</strong>
  <%= @technician.company_info %>
</p>

<%= link_to 'Edit', edit_technician_path(@technician) %> |
<%= link_to 'Back', technicians_path %>
