<%= simple_form_for(@work_order_detail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :smsid %>
    <%= f.input :buid %>
    <%= f.input :sms %>
    <%= f.input :contact_phone_number %>
    <%= f.input :business_unit %>
    <%= f.input :versionid %>
    <%= f.input :tzi %>
    <%= f.input :fsruserid %>
    <%= f.input :fsrbuid %>
    <%= f.input :previous_fsr_buid %>
    <%= f.input :dispatcher_id %>
    <%= f.input :key1 %>
    <%= f.input :problem_code %>
    <%= f.input :key2 %>
    <%= f.input :order_date_time %>
    <%= f.input :due_date_time %>
    <%= f.input :jobtype %>
    <%= f.input :jobclass %>
    <%= f.input :tech_completed %>
    <%= f.input :last_changed %>
    <%= f.input :compliance %>
    <%= f.input :customer_id2 %>
    <%= f.input :pricing_category %>
    <%= f.input :pricing_category_description %>
    <%= f.input :campaign_code %>
    <%= f.input :campaign_code_description %>
    <%= f.input :customer_status %>
    <%= f.input :customer_status_description %>
    <%= f.input :customer_info1 %>
    <%= f.input :customer_info2 %>
    <%= f.input :customer_info3 %>
    <%= f.input :customer_info4 %>
    <%= f.input :customer_info5 %>
    <%= f.input :building_type %>
    <%= f.input :building_type_description %>
    <%= f.input :deliminated_address %>
    <%= f.input :coding_quality %>
    <%= f.input :location_id %>
    <%= f.input :location_info1 %>
    <%= f.input :location_info2 %>
    <%= f.input :location_info3 %>
    <%= f.input :location_info4 %>
    <%= f.input :location_info5 %>
    <%= f.input :monthly_charge %>
    <%= f.input :job_points %>
    <%= f.input :total_bablace_due %>
    <%= f.input :ordering_operator_id %>
    <%= f.input :contact_name %>
    <%= f.input :contact_phone1 %>
    <%= f.input :contact_phone2 %>
    <%= f.input :drop_location %>
    <%= f.input :tag_id %>
    <%= f.input :house_status %>
    <%= f.input :quota_group %>
    <%= f.input :quota_area %>
    <%= f.input :detail_text1 %>
    <%= f.input :detail_text2 %>
    <%= f.input :detail_text3 %>
    <%= f.input :detail_text4 %>
    <%= f.input :detail_text5 %>
    <%= f.input :sms_job_number %>
    <%= f.input :assigning_operator_id %>
    <%= f.input :repeat %>
    <%= f.input :repeat_count %>
    <%= f.input :node_id %>
    <%= f.input :tech_business_unit %>
    <%= f.association :work_order %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
