<p id="notice"><%= notice %></p>

<p>
  <strong>Smsid:</strong>
  <%= @work_order_detail.smsid %>
</p>

<p>
  <strong>Buid:</strong>
  <%= @work_order_detail.buid %>
</p>

<p>
  <strong>Sms:</strong>
  <%= @work_order_detail.sms %>
</p>

<p>
  <strong>Contact phone number:</strong>
  <%= @work_order_detail.contact_phone_number %>
</p>

<p>
  <strong>Business unit:</strong>
  <%= @work_order_detail.business_unit %>
</p>

<p>
  <strong>Versionid:</strong>
  <%= @work_order_detail.versionid %>
</p>

<p>
  <strong>Tzi:</strong>
  <%= @work_order_detail.tzi %>
</p>

<p>
  <strong>Fsruserid:</strong>
  <%= @work_order_detail.fsruserid %>
</p>

<p>
  <strong>Fsrbuid:</strong>
  <%= @work_order_detail.fsrbuid %>
</p>

<p>
  <strong>Previous fsr buid:</strong>
  <%= @work_order_detail.previous_fsr_buid %>
</p>

<p>
  <strong>Dispatcher:</strong>
  <%= @work_order_detail.dispatcher_id %>
</p>

<p>
  <strong>Key1:</strong>
  <%= @work_order_detail.key1 %>
</p>

<p>
  <strong>Problem code:</strong>
  <%= @work_order_detail.problem_code %>
</p>

<p>
  <strong>Key2:</strong>
  <%= @work_order_detail.key2 %>
</p>

<p>
  <strong>Order date time:</strong>
  <%= @work_order_detail.order_date_time %>
</p>

<p>
  <strong>Due date time:</strong>
  <%= @work_order_detail.due_date_time %>
</p>

<p>
  <strong>Jobtype:</strong>
  <%= @work_order_detail.jobtype %>
</p>

<p>
  <strong>Jobclass:</strong>
  <%= @work_order_detail.jobclass %>
</p>

<p>
  <strong>Tech completed:</strong>
  <%= @work_order_detail.tech_completed %>
</p>

<p>
  <strong>Last changed:</strong>
  <%= @work_order_detail.last_changed %>
</p>

<p>
  <strong>Compliance:</strong>
  <%= @work_order_detail.compliance %>
</p>

<p>
  <strong>Customer id2:</strong>
  <%= @work_order_detail.customer_id2 %>
</p>

<p>
  <strong>Pricing category:</strong>
  <%= @work_order_detail.pricing_category %>
</p>

<p>
  <strong>Pricing category description:</strong>
  <%= @work_order_detail.pricing_category_description %>
</p>

<p>
  <strong>Campaign code:</strong>
  <%= @work_order_detail.campaign_code %>
</p>

<p>
  <strong>Campaign code description:</strong>
  <%= @work_order_detail.campaign_code_description %>
</p>

<p>
  <strong>Customer status:</strong>
  <%= @work_order_detail.customer_status %>
</p>

<p>
  <strong>Customer status description:</strong>
  <%= @work_order_detail.customer_status_description %>
</p>

<p>
  <strong>Customer info1:</strong>
  <%= @work_order_detail.customer_info1 %>
</p>

<p>
  <strong>Customer info2:</strong>
  <%= @work_order_detail.customer_info2 %>
</p>

<p>
  <strong>Customer info3:</strong>
  <%= @work_order_detail.customer_info3 %>
</p>

<p>
  <strong>Customer info4:</strong>
  <%= @work_order_detail.customer_info4 %>
</p>

<p>
  <strong>Customer info5:</strong>
  <%= @work_order_detail.customer_info5 %>
</p>

<p>
  <strong>Building type:</strong>
  <%= @work_order_detail.building_type %>
</p>

<p>
  <strong>Building type description:</strong>
  <%= @work_order_detail.building_type_description %>
</p>

<p>
  <strong>Deliminated address:</strong>
  <%= @work_order_detail.deliminated_address %>
</p>

<p>
  <strong>Coding quality:</strong>
  <%= @work_order_detail.coding_quality %>
</p>

<p>
  <strong>Location:</strong>
  <%= @work_order_detail.location_id %>
</p>

<p>
  <strong>Location info1:</strong>
  <%= @work_order_detail.location_info1 %>
</p>

<p>
  <strong>Location info2:</strong>
  <%= @work_order_detail.location_info2 %>
</p>

<p>
  <strong>Location info3:</strong>
  <%= @work_order_detail.location_info3 %>
</p>

<p>
  <strong>Location info4:</strong>
  <%= @work_order_detail.location_info4 %>
</p>

<p>
  <strong>Location info5:</strong>
  <%= @work_order_detail.location_info5 %>
</p>

<p>
  <strong>Monthly charge:</strong>
  <%= @work_order_detail.monthly_charge %>
</p>

<p>
  <strong>Job points:</strong>
  <%= @work_order_detail.job_points %>
</p>

<p>
  <strong>Total bablace due:</strong>
  <%= @work_order_detail.total_bablace_due %>
</p>

<p>
  <strong>Ordering operator:</strong>
  <%= @work_order_detail.ordering_operator_id %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @work_order_detail.contact_name %>
</p>

<p>
  <strong>Contact phone1:</strong>
  <%= @work_order_detail.contact_phone1 %>
</p>

<p>
  <strong>Contact phone2:</strong>
  <%= @work_order_detail.contact_phone2 %>
</p>

<p>
  <strong>Drop location:</strong>
  <%= @work_order_detail.drop_location %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @work_order_detail.tag_id %>
</p>

<p>
  <strong>House status:</strong>
  <%= @work_order_detail.house_status %>
</p>

<p>
  <strong>Quota group:</strong>
  <%= @work_order_detail.quota_group %>
</p>

<p>
  <strong>Quota area:</strong>
  <%= @work_order_detail.quota_area %>
</p>

<p>
  <strong>Detail text1:</strong>
  <%= @work_order_detail.detail_text1 %>
</p>

<p>
  <strong>Detail text2:</strong>
  <%= @work_order_detail.detail_text2 %>
</p>

<p>
  <strong>Detail text3:</strong>
  <%= @work_order_detail.detail_text3 %>
</p>

<p>
  <strong>Detail text4:</strong>
  <%= @work_order_detail.detail_text4 %>
</p>

<p>
  <strong>Detail text5:</strong>
  <%= @work_order_detail.detail_text5 %>
</p>

<p>
  <strong>Sms job number:</strong>
  <%= @work_order_detail.sms_job_number %>
</p>

<p>
  <strong>Assigning operator:</strong>
  <%= @work_order_detail.assigning_operator_id %>
</p>

<p>
  <strong>Repeat:</strong>
  <%= @work_order_detail.repeat %>
</p>

<p>
  <strong>Repeat count:</strong>
  <%= @work_order_detail.repeat_count %>
</p>

<p>
  <strong>Node:</strong>
  <%= @work_order_detail.node_id %>
</p>

<p>
  <strong>Tech business unit:</strong>
  <%= @work_order_detail.tech_business_unit %>
</p>

<p>
  <strong>Work order:</strong>
  <%= @work_order_detail.work_order %>
</p>

<%= link_to 'Edit', edit_work_order_detail_path(@work_order_detail) %> |
<%= link_to 'Back', work_order_details_path %>
