<h1>Listing drivers_licesnses</h1>

<table>
  <thead>
    <tr>
      <th>Technician</th>
      <th>License</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Eye color</th>
      <th>Birthday</th>
      <th>Hair color</th>
      <th>State</th>
      <th>Expiration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers_licesnses.each do |drivers_licesnse| %>
      <tr>
        <td><%= drivers_licesnse.technician %></td>
        <td><%= drivers_licesnse.license_id %></td>
        <td><%= drivers_licesnse.height %></td>
        <td><%= drivers_licesnse.weight %></td>
        <td><%= drivers_licesnse.eye_color %></td>
        <td><%= drivers_licesnse.birthday %></td>
        <td><%= drivers_licesnse.hair_color %></td>
        <td><%= drivers_licesnse.state %></td>
        <td><%= drivers_licesnse.expiration %></td>
        <td><%= link_to 'Show', drivers_licesnse %></td>
        <td><%= link_to 'Edit', edit_drivers_licesnse_path(drivers_licesnse) %></td>
        <td><%= link_to 'Destroy', drivers_licesnse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drivers licesnse', new_drivers_licesnse_path %>
