<p id="notice"><%= notice %></p>

<p>
  <strong>Technician:</strong>
  <%= @drivers_licesnse.technician %>
</p>

<p>
  <strong>License:</strong>
  <%= @drivers_licesnse.license_id %>
</p>

<p>
  <strong>Height:</strong>
  <%= @drivers_licesnse.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @drivers_licesnse.weight %>
</p>

<p>
  <strong>Eye color:</strong>
  <%= @drivers_licesnse.eye_color %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @drivers_licesnse.birthday %>
</p>

<p>
  <strong>Hair color:</strong>
  <%= @drivers_licesnse.hair_color %>
</p>

<p>
  <strong>State:</strong>
  <%= @drivers_licesnse.state %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @drivers_licesnse.expiration %>
</p>

<%= link_to 'Edit', edit_drivers_licesnse_path(@drivers_licesnse) %> |
<%= link_to 'Back', drivers_licesnses_path %>
